In [8]:
import pandas as pd
df = pd.read_excel("AFN01.xls" , nrows=10)
df

,Areaname,STCOU,AFN110197F,AFN110197D,AFN110197N1,AFN110197N2,AFN110202F,AFN110202D,AFN110202N1,AFN110202N2,...,AFN130202N1,AFN130202N2,AFN130207F,AFN130207D,AFN130207N1,AFN130207N2,AFN140197F,AFN140197D,AFN140197N1,AFN140197N2
0,UNITED STATES,0,0,545068,0,0,0,565590,0,0,...,0,0,0,170826847,0,0,0,9451226,0,0
1,ALABAMA,1000,0,6955,0,0,0,7075,0,0,...,0,0,0,1751393,0,0,0,134719,0,0
2,"Autauga, AL",1001,0,50,0,0,0,67,0,0,...,0,0,0,25453,0,0,0,1036,0,0
3,"Baldwin, AL",1003,0,303,0,0,0,319,0,0,...,0,0,0,122403,0,0,0,6337,0,0
4,"Barbour, AL",1005,0,42,0,0,0,44,0,0,...,0,0,4,0,0,0,0,600,0,0
5,"Bibb, AL",1007,0,12,0,0,0,17,0,0,...,0,0,0,2611,0,0,1,0,6008,0
6,"Blount, AL",1009,0,42,0,0,0,44,0,0,...,0,0,0,5115,0,0,0,461,0,0
7,"Bullock, AL",1011,0,12,0,0,0,9,0,0,...,0,0,0,1056,0,0,1,0,6007,0
8,"Butler, AL",1013,0,31,0,0,0,35,0,0,...,0,0,0,7487,0,0,0,595,0,0
9,"Calhoun, AL",1015,0,185,0,0,0,188,0,0,...,0,0,0,51492,0,0,0,4262,0,0